<div class="main-content">
    <h1>{{title}}</h1>
    {{>header}}
    <p>This is a weather Application.</p>
    <p>To find the weather for the location provided it uses a Weather API called OpenWeatherMap. You can see it <a href="https://openweathermap.org/api" target="_blank">here</a></p>

    <h3>Technologies Used for making this Application</h3>
    <ul class='tech'>
        <li><a href="">NodeJS</a></li>
        <li><a href="">ExpressJS</a></li>
        <li><a href="">API - OpenWeatherMap</a></li>
        <li><a href="">Handlebars - for dynamic rendering</a></li>
        <li>
            <a href="">npm package - Dependencies</a>
            <ul>
                <li><a href="">express</a></li>
                <li><a href="">request</a></li>
                <li><a href="">dotenv</a></li>
                <li><a href="">hbs</a></li>
            </ul>
        </li>
    </ul>

    <br>
    <br>
    <p>This Application is open-source. You can see the source code <a href="">here</a>.<b> New innovative ideas are eagerly welcomed for improving this application.</b></p>
</div>
{{>footer}}