<div class="main-content">
    <h1>{{title}}</h1>
    {{>header}}
    <p>{{content}} for the location you specify</p>
    <p>You just have to give the location in the input field <a href="/">here</a> and press enter then under some seconds you will get the details weather report for that location.</p>
    <p>Then you can stay ahead of the weather and plan your day accordingly.</p>
    <br>
    <br>
    <br>
    <h3>Thank you for using the application</h3>
</div>
{{>footer}}