<div class="main-content">
    <h1>{{title}}</h1>
    {{>header}}
    <div class='weatherForm'>
        <form class="getWeather">
            <label for="location">
                <input type="text" placeholder="Location" class="address" >
            </label>
            <button type="submit">Search</button>
        </form>
        <p class="weather1"></p>
        <p class="weather2"></p>
    </div>
</div>
<script src="/js/app.js"></script>
{{>footer}}